.header {
  position: absolute; /* Take the header out of normal document flow */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  width: 100%; /* Optional: Make the header span the full width */
  background-color: white; /* Optional: Add a background color */
  padding: 1rem; /* Add some padding */
  /*box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);  Optional: Add a subtle shadow */
}

.header h1 {
  margin: 0; /* Remove default margins */
  font-size: 1.5rem; /* Adjust font size as needed */
  color: black; /* Text color */
  text-align: start; /* Align text to the left */
}

.truncated-text {
  display: -webkit-box; /* For WebKit browsers */
  -webkit-box-orient: vertical; /* Arrange the box vertically */
  -webkit-line-clamp: 4; /* Limit to 3 lines */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis (...) */
  height: 6em; /* Set height to accommodate the number of lines */
}
#title {
  font-size: 1.4em;
}
.div-title {
  display: flex;

  justify-content: flex-start; /* Aligns items to the left */
}
.fade-in-up {
  opacity: 0; /* Start invisible */
  transform: translateY(80px); /* Start 20 pixels lower */
  animation: fadeInUp 0.5s forwards; /* Animation name, duration, and forwards to retain styles */
}
.fade-out {
  opacity: 1; /* Start fully visible */
  animation: fadeOut 0.5s forwards; /* Animation name, duration, and forwards to retain styles */
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  scrollbar-width: none;
}
.app::-webkit-scrollbar {
  display: none;
}
.selectApp {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-self: flex-start;
  height: 100vh;
}
.center {
  justify-content: center;
}
.bi-clock-fill {
  height: 20px;
  width: 20px;
}
.runtime {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  height: 60vh;
  width: 30em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-basis: 35em;
  object-fit: cover; /* Ensures the image fits within the height without stretching */
  object-position: center; /* Centers the image within the container */
}

.flip-container {
  height: 80vh;
  width: 30em;

  perspective: 1500px;
}

.flip-content {
  position: absolute;
  width: 100%;
  height: 100%;

  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-content:has(.front.flipCard) {
  transform: rotateY(180deg);
  transition: transform 1s;
}

.front,
.back {
  position: absolute;
  backface-visibility: hidden;
  transform-origin: center center;
}

.back {
  transform: rotateY(180deg);
}

#flip-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  transition: transform 0.2s;
}

#flip-icon:hover {
  transform: scale(1.1);
}
.cardImg {
  width: auto; /* Let the width adjust based on the aspect ratio */
  height: 60%; /* Maintain a consistent height */
  border-radius: 18px;
  object-fit: cover; /* Ensures the image fits within the height without stretching */
  object-position: center; /* Centers the image within the container */
}

.search {
  margin-bottom: 20px;
  margin-top: 20px;
}

.text {
  width: 80%;
  font-weight: 400;
  margin: 0;
}

#year,
#genres {
  margin-bottom: 0;
}

@keyframes fadeOut {
  to {
    opacity: 0; /* End fully invisible */
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  to {
    opacity: 1; /* End fully visible */
    transform: translateY(0); /* End in the original position */
  }
}

#root {
  max-width: 1280px;
  text-align: center;
  height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.shopping-cart {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* .card-container {
  cursor: pointer;
  position: absolute;
}
.card-container .card {
  top: 10%;
  left: 10%;
  position: absolute;
  overflow: hidden;
  backface-visibility: hidden;
  transition: 10s;
}
.card-container .card:nth-of-type(1) {
  transform: perspective(1600px) rotateY(0deg);
}
.card-container .card:nth-of-type(2) {
  transform: perspective(400px) rotateY(-180deg);
}
.card-container:hover .card:nth-of-type(1) {
  transform: perspective(400px) rotateY(180deg);
}
.card-container:hover .card:nth-of-type(2) {
  transform: perspective(400px) rotateY(0deg);
} */
/* .bi-basket2 {
  height: 100em;
  width: 100em;
} */
.year-genre-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 5%;
  margin-top: -40px;
}
.language-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 5%;
  margin-top: -15px;
}
.cast-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 5%;
}
#genres,
#year {
  font-size: medium;
}
.buttons #expandable-svg:hover {
  transform: scale(1.15);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
}

.leftButton {
  margin-right: 2em;
}

.rightButton {
  margin-left: 2em;
}

.filler {
  flex-grow: 8;
}

.runtime p {
  margin-top: 1em;
  margin-left: 0.5em;
}
.language p {
  margin-top: 0;
  margin-left: 0.5em;
}
.language {
  display: flex;
  align-items: center;
  justify-content: center;
}
p.fixed-text {
  margin-bottom: 0;
}

#expandable-svg-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.arrow {
  width: 40px;
  height: 40px;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}
