:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* .container {
  width: 1600px;
  height: 800px;
  overflow: hidden;
  box-sizing: border-box;
  
} */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  height: 100vh;
}

.center {
  align-self: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
#expandable-svg {
  width: 48px;
  height: 48px;
  transition: transform 0.3s ease; /* Smooth transition */
  display: inline-block; /* Make the div wrap tightly around its content */

}

/* Hover effect */
#expandable-svg:hover {
  transform: scale(1.1); /* Slightly increase the size */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
